body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Courier;
}

.hidden {
    display: none;
}

a {
    color: #18cfab;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    position: absolute;
    width: 100%;
    height: 100px;
}
.logo {
    order: 1;
}
.logo-image {
    display: inline-block;
    opacity: 0.8;
    background-image: url("../images/logo_1.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 197px;
    height: 67px;
}

ul.main-menu {
    margin: 0 0 0 100px;
    padding: 0;
    list-style: none;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul.main-menu li {
    font-size: 13px;
    font-weight: bold;
}
ul.main-menu li a {
    display: block;
    color: rgba(184,184,184, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 25px 18px;
    position: relative;
}
ul.main-menu li a:hover {
    text-decoration: none;
    color: #18cfab;
}
ul.main-menu li a:hover:after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #18cfab;
    display: block;
    content: " ";
    left: 0;
    bottom: -18px;
}
.search {
    background-image: url("../images/searchIcon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 22px;
    height: 22px;
}

.parallax {
    padding-top: 100px;
    background-image: url("../images/section_1_header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.shade {
    display: block;
    min-height: 600px;
    margin-top: 150px;
}
.parallax h1 {
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 57px;
    font-weight: 600;
}
.the-ham-is {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;

}
.wp-theme {
    color: #18cfab;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    font-size: 33px;
    color: #b8b8b8;
    margin-top: 0;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.button {
    border-top: 4px solid #fff;
    font-size: 13px;
    display: inline-block;
    width: 170px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 20px 0;
    border-radius: 8px;
    text-transform: uppercase;
    margin: 0 10px;
    font-weight: bold;
}

.button-green {
    background-color: #18cfab;
}

.button-blue {
    background-color: #14b9d5;
}

.load-more {
    border-top: 0;
}

.container {
    background-color: #fff;
}

.info-block {
    display: flex;
    width: 100%;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 375px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.block-dark {
    border-top: 6px solid #18cfab;
    background-color: #1c2a33;
    color: #18cfab;
}

.block-green {
    border-top: 6px solid #fff;
    background-color: #18cfab;
    color: #fff;
}

.block-icon {
    background-repeat: no-repeat;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
}

.different-theme-option {
    background-image: url("../images/section_1/1_DiffThemeOption.png");
}

.fully-customizable {
    background-image: url("../images/section_1/1_FullyCustomizable.png");
}

.unlimited-support {
    background-image: url("../images/section_1/1_UnlimSupport.png");
}

.responsive-all-device {
    background-image: url("../images/section_1/1_ResponsiveAllDevice.png");
}

.section {
    padding: 60px 0;
}

.section-title {
    color: rgb(78, 78, 78);
    text-transform: none;
    position: relative;
    margin-bottom: 80px;
}

.section-title:before {
    position: absolute;
    width: 80px;
    content: " ";
    background-color: #18cfab;
    height: 1px;
    left: 40%;
    bottom: -40px;
}

.section-title:after {
    position: absolute;
    width: 80px;
    content: " ";
    background-color: #18cfab;
    height: 1px;
    left: 42%;
    bottom: -43px;
}

ul {
    list-style: none;
}

.our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    width: 1100px;
}

.navbar-nav {
    display: flex;
    border: 1px solid #ebebeb;
    padding: 0;
    margin: 0 0 20px 0;
}

.navbar-nav-item {
    flex-grow: 1;
}

.navbar-nav-item:not(:last-child) {
    border-right: 1px solid #ebebeb;
}

.navbar-nav-link {
    text-align: center;
    background-color: #f8fcfe;
    text-decoration: none;
    color: #9e9fa0;
    display: block;
    padding: 25px;
}

.navbar-nav-link.active {
    background-color: #18cfab;
    color: #fff;
}

.tab {
    display: none;
}

.tab.active {
    display: flex;
}

.tab-image {
    background-size: cover;
    border: 1px solid #000;
    width: 190px;
    height: 140px;
    margin-right: 20px;
}

.tab-info {
    width: 890px;
    color: #9e9fa0;
}

.h-2 {
    color: #18cfab;
    font-size: 29px;
    font-weight: 600;
}

p {
    font-size: 16px;
    color: #c2c1c1;
}

button-green-2 {
    background-color: #89ca62;
}

.container-paralax-2 {
    background-image: url("../images/section_2_dark.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 120px 0;
}

.our-amazing-work {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248, 252, 254);
}

.works-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    padding: 60px 0;
}

.works-gallery-item {
    background-size: cover;
    height: 205px;
    width: 25%;
}

.works-gallery-item:hover .card {
    opacity: 1;
}

.card {
    border-top: 2px solid #18cfab;
    background-color: #f8fcfe;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity ease-in-out 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-actions {
    display: flex;
}

.card-action {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid #18cfab;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    margin: 0 5px 20px 5px;
}

.card-action:hover {
    background-color: #18cfab;
}

.card-action.link {
    background-image: url("../images/Forma.png");
}

.card-action.find {
    background-image: url("../images/find2.png");
}

.card-title {
    color: #18cfab;
    font-weight: bold;
    text-transform: uppercase;
}

.card-description {
    color: #8a8a8a;
    font-size: 13px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-nav-filter {
    border: 1px solid #ebebeb;
    display: flex;
    justify-content: center;
}

.navbar-nav-link-filter {
    display: block;
    padding: 15px 25px;
    color: #9e9fa0;
    text-decoration: none;
}

.navbar-nav-item-filter {
    position: relative;
}

.navbar-nav-item-filter.active a {
    color: #18cfab;
}

.navbar-nav-item-filter.active:before {
    position: absolute;
    top: -2px;
    display: block;
    content: " ";
    background-color: #18cfab;
    width: 100%;
    height: 2px;
}

.navbar-nav-item-filter:not(:last-child) {
    border-right: 1px solid #ebebeb;
}

.breaking-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(225, 225, 225);
}

.news {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    padding: 60px 0;
}

.news-item {
    width: 265px;
    margin-bottom: 40px;
    text-decoration: none;
    position: relative;
}

.news-item:hover .news-item-content {
    color: #18cfab;
}

.news-item:hover .news-item-date {
    background-color: #18cfab;
}

.news-item h3 {
    margin: 0 0 10px 0;
}

.news-item-image {
    background-size: cover;
    height: 205px;
    width: 265px;
}

.news-item-date {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    background-color: rgb(33, 62, 56);
    color: #fff;
    padding: 10px 5px;
    text-align: center;
}

.news-item-content {
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(248, 252, 254);
    padding: 10px;
    color: rgb(113, 113, 113);
}

.testimonial {
    background-image: url("../images/section_3.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #bbb;
}

.testimonial .section-title {
    color: #fff;
}

.quotes {
    background-image: url("../images/quotes.png");
    width: 44px;
    height: 30px;
    margin: 30px 0;
}

.testimonial .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1140px;
    text-align: center;
}

.carousel {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin-top: 40px;
}

.person-name {
    color: #18cfab;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.person-position {
    font-size: 13px;
    margin-bottom: 20px;
}

.person-image-container {
    width: 150px;
    height: 150px;
    border: 10px solid rgba(24, 207, 171, 0.2);
    border-radius: 50%;
    margin-bottom: 50px;
}

.person-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: cover;
}

.person-image.active {
    border: 2px solid #18cfab;
    width: 146px;
    height: 146px;
}

.person-image-container.small {
    width: 70px;
    height: 70px;
    border-width: 5px;
    margin-bottom: 0;
}

.person-image-container.small .person-image {
    width: 70px;
    height: 70px;
}

.person-image-container.small .person-image.active {
    width: 66px;
    height: 66px;
}

.controls {
    display: flex;
    align-items: center;
}

.control {
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.control:hover {
    background-color: #18cfab;
    border-color: #18cfab;
}

.carousel-container {
    position: relative;
    display: flex;
    left: 0;
    width: 1000em;
    transition: left ease-in-out 500ms;
}

.carousel-inner {
    width: 480px;
    overflow: hidden;
}

.container-item {
    margin: 0 20px;
}

footer {
    border-top: 1px solid rgb(225, 225, 225);
    background-color: #22353f;
    padding: 40px 0;
    color: #aeaeae;
    font-size: 13px;
    display: flex;
    justify-content: center;
}